Bug: Unicode Normalization not appropriate for ASCII-8BIT

The Metainspector gem uses Faraday as a dependency and a bug was reported there which seems to be related to this gem.
https://github.com/jaimeiniesta/metainspector/issues/414

**Summary:** 
The redirect response changes the encoding from UTF-8 to ASCII-8BIT

**Steps to reproduce:**
```
irb

require 'faraday'
require 'faraday/follow_redirects'
require 'faraday-cookie_jar'

session = Faraday.new(url: 'https://apps.apple.com/us/app/id1501495423') do |faraday|
             faraday.use Faraday::FollowRedirects::Middleware
             faraday.use :cookie_jar
end

session.get

```

This is the error I got:

```
/home/ma/.rbenv/versions/3.2.2/lib/ruby/3.2.0/unicode_normalize/normalize.rb:141:in `normalize': Unicode Normalization not appropriate for ASCII-8BIT (Encoding::CompatibilityError)
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/domain_name-0.6.20231109/lib/domain_name.rb:292:in `unicode_normalize'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/domain_name-0.6.20231109/lib/domain_name.rb:292:in `normalize'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/domain_name-0.6.20231109/lib/domain_name.rb:100:in `initialize'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie.rb:553:in `new'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie.rb:553:in `acceptable_from_uri?'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie.rb:592:in `valid_for_uri?'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie_jar/hash_store.rb:82:in `block (3 levels) in each'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie_jar/hash_store.rb:76:in `delete_if'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie_jar/hash_store.rb:76:in `block (2 levels) in each'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie_jar/hash_store.rb:74:in `each'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie_jar/hash_store.rb:74:in `block in each'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie_jar/hash_store.rb:73:in `each'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie_jar/hash_store.rb:73:in `each'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie_jar.rb:163:in `each'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie_jar.rb:131:in `each'
	from /home/ma/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/http-cookie-1.0.5/lib/http/cookie_jar.rb:131:in `sort'
	... 14 levels...
```


From a Rails app, I got the same error, this is the full stack of errors:
```
[/home/ma/.rbenv/versions/3.2.2/lib/ruby/3.2.0/unicode_normalize/normalize.rb:141:in `normalize'](http://localhost:3000/#)
[domain_name (0.6.20231109) lib/domain_name.rb:292:in `unicode_normalize'](http://localhost:3000/#)
[domain_name (0.6.20231109) lib/domain_name.rb:292:in `normalize'](http://localhost:3000/#)
[domain_name (0.6.20231109) lib/domain_name.rb:100:in `initialize'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie.rb:553:in `new'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie.rb:553:in `acceptable_from_uri?'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie.rb:592:in `valid_for_uri?'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie_jar/hash_store.rb:82:in `block (3 levels) in each'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie_jar/hash_store.rb:76:in `delete_if'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie_jar/hash_store.rb:76:in `block (2 levels) in each'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie_jar/hash_store.rb:74:in `each'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie_jar/hash_store.rb:74:in `block in each'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie_jar/hash_store.rb:73:in `each'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie_jar/hash_store.rb:73:in `each'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie_jar.rb:163:in `each'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie_jar.rb:131:in `each'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie_jar.rb:131:in `sort'](http://localhost:3000/#)
[http-cookie (1.0.5) lib/http/cookie_jar.rb:131:in `cookies'](http://localhost:3000/#)
[faraday-cookie_jar (0.0.7) lib/faraday/cookie_jar.rb:12:in `call'](http://localhost:3000/#)
[faraday-follow_redirects (0.3.0) lib/faraday/follow_redirects/middleware.rb:77:in `perform_with_redirection'](http://localhost:3000/#)
[faraday-follow_redirects (0.3.0) lib/faraday/follow_redirects/middleware.rb:85:in `block in perform_with_redirection'](http://localhost:3000/#)
[faraday (2.7.12) lib/faraday/response.rb:42:in `on_complete'](http://localhost:3000/#)
[faraday-follow_redirects (0.3.0) lib/faraday/follow_redirects/middleware.rb:79:in `perform_with_redirection'](http://localhost:3000/#)
[faraday-follow_redirects (0.3.0) lib/faraday/follow_redirects/middleware.rb:65:in `call'](http://localhost:3000/#)
[faraday (2.7.12) lib/faraday/rack_builder.rb:153:in `build_response'](http://localhost:3000/#)
[faraday (2.7.12) lib/faraday/connection.rb:444:in `run_request'](http://localhost:3000/#)
[faraday (2.7.12) lib/faraday/connection.rb:200:in `get'](http://localhost:3000/#)
```

I could not find exactly the source of the issue, so I don't really have a fully thought-out solution for this but I could fix this issue by changing line 93 of lib/faraday/follow_redirects.rb:

From:
        `redirect_to_url = safe_escape(response['location'] || '')`
 
 To:
        `redirect_to_url = safe_escape(response['location'].force_encoding("UTF-8") || '')`


Same behaviour happens with other urls that will trigger the redirecting behaviour, like for example https://nytimes.com

`response['location']` may come from net-http, which is the default Faraday adapter. net-http parses response the headers using [`#readuntil`](https://github.com/ruby/ruby/blob/4f213ea1baa590c463c3554a6ff418d10dc291e0/lib/net/protocol.rb#L194) internally. `#readuntil` returns ASCII-8BIT encoded string, so `response['location']` is encoded as ASCII-8BIT. Maybe, faraday-follow-redirects should consider the case where the Location header is encoded as ASCII-8BIT.

However, I'm not confident faraday-follow-redirects should encode the URL. faraday-follow-redirects will update `env[:url]` with `response['location']` from net-http here. Should `env[:url]` always be encoded as UTF-8? 

https://github.com/tisba/faraday-follow-redirects/blob/04bec93252ca23b06cb99b44878952441f58cf35/lib/faraday/follow_redirects/middleware.rb#L94

Without faraday-cookie_jar, it's fine to assign an ASCII-8BIT string to `env[:url]` in almost cases. As far as I [commented](https://github.com/tisba/faraday-follow-redirects/issues/7#issuecomment-1843945224), this might be the matter of domain_name. The same issue is reported here.

https://github.com/knu/ruby-domain_name/issues/23

I need to do some more digging to understand how the `ruby-domain_name` gem is supposed to work and how things exactly interact.

My current thought process is **not** to encode anything into UTF-8 for this gem: 

* URLs by definition cannot be unicode.
* Domains might be encoded in Punycode ([RFC3492](https://rfc-editor.org/rfc/rfc3492)) but still are always (a subset) ASCII-8bit.
* Same with the rest of the URL. It's actually not even ASCII, but a printable subset.
* Browsers (and possibly other clients) might provide the illusion of the path or arguments being in unicode, but they cannot (see e.g. [RFC3986](https://rfc-editor.org/rfc/rfc3986)).
* The redirect location from the `Location` HTTP response header is also ALWAYS in a sub-set of ASCII, see [RFC2616 Section 4.2](https://www.rfc-editor.org/rfc/rfc2616#section-4.2).

Maybe some of the other involved gems do accept UTF-8 encoded domain names for convince, but I'm pretty sure they should always accept and handle ASCII-8BIT too.

Follow-Up, see https://github.com/knu/ruby-domain_name/issues/23 and https://github.com/knu/ruby-domain_name/pull/27

This fix has been merged upstream, see https://github.com/knu/ruby-domain_name/blob/master/CHANGELOG.md. The `domain_name ` gem in `v0.6.20240107` now skips Unicode normalization if the input is strictly ASCII only.